#TabsToolbar, /* native tabs */
#sidebar-header,
#userContext-icons /* container tab indicator */
{
  display: none;
}

/* swipe on touchpad or use tridactyl keys */
/* #back-button,
#forward-button,
#reload-button, */

/* #home-button,
#customizableui-special-spring1, */
/* (url bar) */
/* #customizableui-special-spring2,
#library-button,
#sidebar-button,
#fxa-toolbar-menu-button, */
/* #PanelUI-menu-button */
/* #PersonalToolbar
{
    display: none;
}

#urlbar {
    padding: 0px 5px;
} */
