/* make images fill entire container */
.image-container img {
    margin: 0 !important;
}

/* overlay and hide name until hover */
.card-section {
    display: none;
    position: absolute;
    border-radius: 0 12px 0 0; /* rounded top right */
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
}
.card:hover .card-section {
    display: block;
}

/* move badges to top right */
& .card-popovers {
    display: none;
    position: absolute;
    margin-top: 0px !important;
    padding-bottom: 5px !important;
    border-radius: 0 0 0 12px; /* rounded bottom left */
    background: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
}

/* hide donate button */
.btn-primary.btn.donate.minimal {
    display: none;
}

/* modify card when checkbox is selected */
.grid-card.card:has(input:checked) {
    box-shadow: 0 0 0 1px var(--primary,rgba(255, 255, 255, 0.30));
}
