/* hide account and settings in activity bar */
div.activitybar > div.content > div:nth-child(2),
/* hide tabs in zen mode */
div.title.breadcrumbs {
    display: none !important;
}

/* replace vertical space left by hidden tabs */
div.editor-container,
div.editor-instance,
/* div.monaco-editor, */
div.overflow-guard
/* div.monaco-scrollable-element  */
{
  height: 100% !important;
}

/* same thing, for webviews */
div[id^=webview] {
  overflow: initial !important;
}
iframe.webview {
  height: calc(100% + 35px) !important;
}

