div.activitybar {
  margin-top: -45px;
  width: auto;
  position: relative;
}

/* div.split-view-container > div:nth-child(2) */
body > div.file-icons-enabled.enable-motion.monaco-workbench.linux.chromium.noauxiliarybar.maximized.vs-dark.arcticicestudio-nord-visual-studio-code-themes-nord-color-theme-json > div.monaco-grid-view > div > div > div.monaco-scrollable-element > div.split-view-container > div:nth-child(3) > div > div > div.monaco-scrollable-element > div.split-view-container > div:nth-child(2)
{
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
}

body > div.file-icons-enabled.enable-motion.monaco-workbench.linux.chromium.nopanel.noauxiliarybar.maximized.vs-dark.arcticicestudio-nord-visual-studio-code-themes-nord-color-theme-json > div.monaco-grid-view > div > div > div.monaco-scrollable-element > div.split-view-container > div:nth-child(3) > div > div > div.monaco-scrollable-element > div.split-view-container > div:nth-child(2) > div > div > div.monaco-scrollable-element > div.split-view-container > div.split-view-view.visible > div > div > div.monaco-scrollable-element > div.split-view-container > div:nth-child(2),
#workbench\.parts\.editor > div.content
{
  /* width: 100% !important; */
  margin-right: -48px !important;
}
