chart: jetstack/cert-manager
version: ~1
namespace: system
values:
- installCRDs: true
  ingressShim:
    defaultIssuerName: letsencrypt
    defaultIssuerKind: ClusterIssuer
  extraArgs: # for split DNS
    - --dns01-recursive-nameservers=1.1.1.1:53
    - --dns01-recursive-nameservers=1.0.0.1:53
    - --dns01-recursive-nameservers-only
  