chart: istio/istiod
namespace: istio-system
values:
- global:
    hub: docker.io/querycapistio
hooks:
  - events: ["cleanup"]
    showlogs: true
    command: "bash"
    args: ["-c", "echo -n default system rook-ceph | xargs -d ' ' -I % kubectl label --overwrite namespace % istio-injection=enabled"]