chart: metallb/metallb
namespace: system
version: ~0
values:
- configInline:
     #peers:
     #- peer-address: 192.168.1.1
     #  peer-asn: 64501
     #  my-asn: 64500
     address-pools:
     - name: default
       protocol: layer2
       addresses:
       {{ .Values.address.pool | toYaml }}
  