chart: k8s-at-home/syncthing
version: ~3
namespace: default
values:
- ingress:
    main:
      enabled: true
      hosts:
        - host: sync.{{ .Values.hostname }}
          paths:
            - path: /
  persistence:
    data:
      enabled: true
      accessMode: ReadWriteOnce
      size: 5Gi
    stash:
      enabled: true
      existingClaim: stash-media
    library:
      enabled: true
      existingClaim: calibre-media
  securityContext:
    runAsUser: 568